.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .wrapper {
        max-width: 1366px;
        margin: auto;
        flex-wrap: nowrap;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      
      

      .imageContainer{
        flex: 1;
        height: 50%;
      img {
        margin-top: 30%;
        height: 350px;
        width: 500px;
        margin-left: 10%;
        margin-right: 70px;
        
    
      }
    }

      .textContainer {
        margin-top: 10%;
        flex: 1;
        

        h2{
            font-size: 56px;
        }

        p{
            color: white;
            font-size: 20px;

        }
        button{
            background-color:plum;
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 200px;
            margin-top: 25px;
            cursor: pointer;
            margin-left: 33%;

        }
      }
    }
  }
}
