@import "../../app.scss";
.techstack {
    background: linear-gradient(180deg, #1a2639, #5e63b6);
   
    height: 100%;
    width: 100%;
    max-width: 1366px;
    background-image: url("/stars.png");
    background-size: cover;
    display: flex;
    
   

    .listContainer{
       
        flex: 2;
        flex-direction: column;
        margin: auto;

        @media mobile{

            width: 100%;
            height: 50%;
            
          


        }

        .box{
            padding: 50px;
        

            img{
                width: 250px;
                height: 150px;
                margin-left: 12%;
            }

            h1{
                margin-left: 26%;
                margin-bottom: 7%;
                font-size: xx-large;

                

        
                

            }
        }

    }
}
