@import "../../app.scss";
.techstack {
  background: linear-gradient(180deg, #1a2639, #5e63b6);
  height: 100vh;
  max-width: 1366px;
  background-image: url("/stars.png");
  background-size: cover;
  position: relative;



  .listContainer {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    gap: 90px;
    
    

    .box {
      padding: 5px;
      @include mobile{
       margin-top: 10%;
      }
    
       justify-content: center;
     
       
       

      img {
        width: 250px;
        height: 170px;
       
    
      }
        
      h1 {
        
        font-size: xx-large;
        margin: 10px;
        margin-left: 10%;
        margin-bottom: 13%;
       
      }
    }
  }
}
