@import "../../app.scss";

.contact {
  height: 100vh;
  max-width: 1366px;
  background: linear-gradient(180deg, #27296d, #5e63b6);
  background-image: url("/stars.png");
  background-size: cover;
  position: relative;
  
 

  .wrappernem {
    
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding-top: 7%;
      

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px;
   

      h1 {
        font-size: 100px;
        line-height: 88px;
        @include mobile{
          font-size: 56px;
          line-height: 50px;
        }
       
      }

      span {
        font: weight 300px;
      }
    }
    .formContainer {
    
      display: flex;
      position: relative;
      

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 2px solid white;
          color: white;
          border-radius: 5px;
        }
        button {
          background-color: plum;
          border: none;
          padding: 20px;
          border-radius: 10px;
          width: 350px;
          cursor: pointer;
          padding: 2%;
          margin: 0;
          
          
        }
      }
    }
  }
}
