html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}
body{
    background-color:#27296d;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: center ;
}