.banner{
   height: calc(100vh - 100px); 
   overflow: hidden;
   background: linear-gradient(180deg,#27296d,#5e63b6);
    position: relative;
   .imageContainer{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
   }
}
